footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10rem;

    text-align: center;
    background-color: #6E3869;
    color: #FFFFFF;
}
#mail{
    padding-top: 2rem;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
}
#c-rights{
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    padding-top: 1rem;
}
#foot-ol{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#foot-ol :hover{
    opacity: 50%;
    cursor: pointer;
}
i{
    padding-right: 15px;
}

